.groups-page-container {
  z-index: 10;
  background-color: white;
}

/*------------------------------------*/
/* #GROUPS-MENU */
/*------------------------------------*/

.groups-page-header-container {
  text-decoration: none;
  position: sticky;
  top: 4rem;
  z-index: 100;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
  min-height: 53px;
  display: grid;
  grid-template-columns: 28% 44% 28%;
  grid-template-rows: auto;
  grid-template-areas: ". links .";
}

.header-links {
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.25;
  font-weight: 500;
  justify-content: safe flex-start;
  grid-area: links;
  display: flex;
  flex-direction: row;
}

.header-selected-link {
  text-decoration: none;
  color: #008294 !important;
  border-bottom: 4px solid #008294;
}

.header-create-groups-link {
  text-decoration: none;
}

/*------------------------------------*/
/* #GROUPS-LIST */
/*------------------------------------*/

/* .group-image {
	border-radius: 0.5rem;

	height: 100%;

	max-width: 180px;

	position: relative;
} */

.grid--column__middle {
  grid-template-columns: 28% 44% 28%;

  display: grid;
  grid-template-rows: auto;
}

/* .groups-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	align-content: flex-start;
} */

/* .groups-list-item {
	display: grid;
	grid-template-columns: 1fr 193px 447px 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"margin photo name margin"
		"margin photo city-state margin"
		"margin photo about margin"
		"margin photo members-type margin";
	align-items: start;
	justify-items: start;
	justify-content: center;
} */

.grid-card--container {
  /* grid-area: group; */
  grid-column-start: 2;

  /* grid-template-columns: 30% 70%;
  grid-template-rows: auto; */
  min-height: 162px;
  margin: 0;
  cursor: pointer;
}

.grid-card--text__container {
  display: grid;
  grid-auto-columns: 30% 70%;
  grid-auto-rows: 19% 15% 26% 13%;

  grid-template-areas:
    "photo name"
    "photo city-state"
    "photo about"
    "photo num-members-type";
  border-bottom: 1px solid #d9d9d9;
  column-gap: 2rem;
  min-height: 162px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  cursor: pointer;
}
.grid-card--image__preview {
  width: 180px;
  height: 100px;
  border-radius: 0.5rem;

  border-bottom: 1px solid #d9d9d9;
  grid-area: photo;
  margin: 0;
}

.grid-card--text__name {
  grid-area: name;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.75rem;
  width: 100%;
  /* text-overflow: ellipsis; */
  white-space: normal;
  /* word-break: break-word; */
  /* word-wrap: break-word; */
  overflow: hidden;
}

.grid-card--text__city-state {
  grid-area: city-state;
  font-size: 14px;
  color: #877457;

  font-weight: 500;
  line-height: 1.25rem;

  outline: none;
  top: 0;
  align-items: start;
  align-self: start;
  margin: 0;
  padding-bottom: 1.125rem;
}

.uppercase {
  text-transform: uppercase;
}

.grid-card--text__about {
  grid-area: about;
  margin: 0;
  color: #757575;

  font-size: 0.875rem;
  line-height: 1.25rem;

  max-height: 2.8em;
  outline: none;
  overflow: hidden;
  padding-bottom: 0.25rem;
  text-overflow: ellipsis;
}

.grid-card--text__members-type {
  grid-area: num-members-type;
  margin: 0;
  border: 0;

  color: #757575;

  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  line-height: 1.25rem;
  outline: none;
  padding-top: 1.5rem;
  width: 100%;
}
