* {
	box-sizing: border-box;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 64px;
	align-items: center;
	gap: 2rem;
	top: 0px;
	width: 100%;
	/* padding-left: rem; */
	padding-right: 1rem;
}

.nav-list ul {
	display: flex;
	gap: 1rem;
}

.nav-item {
	display: flex;
	align-items: center;
	text-decoration: none;

	cursor: pointer;
	font-size: 0.875em;
	font-weight: 500;
	line-height: 20px;
}

.nav-item:hover {
	color: rgb(17, 135, 158);
}

.login-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	justify-content: space-between;
}

.login-items li {
	padding-left: 1em;
	font-size: 0.875em;
	font-weight: 500;
	line-height: 20px;
}

.login-items li:hover {
	color: rgb(17, 135, 158);
}

.logo {
	height: 34px;
}

li {
	display: flex;
	align-items: center;
}

@media (min-width: 577px) {
	.logo {
		margin-left: 2.25rem;
	}
}

@media (min-width: 1201px) {
	.logo {
		margin-left: 2rem;
	}
}
