.fas.fa-user-circle {
  width: 48;
  height: 48;
  border-radius: 50%;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;

  width: max-content;

  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  box-sizing: border-box;
  position: absolute;
  font-size: 16px;
  min-width: 12rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  z-index: 10;
  line-height: 1rem;
  right: 1rem;
  top: 4rem;
  cursor: default;
}

.line {
  border-top: 1px #d9d9d9 solid;

  padding-top: 1rem;
  cursor: default;
}

/* #initialIcon {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	background-color: rgb(179 196 172);
	border: 20px black;
} */

#initial {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.5em;
  line-height: 100%;
  text-transform: uppercase;
}

.userButton {
  border: 1px solid;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: rgb(179, 196, 172);
}

.logout-button {
  background-color: white;
  border: white 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.drop-down-items {
  text-decoration: none;
  line-height: 1.25rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.drop-down-items--notlink {
  text-decoration: none;
  line-height: 1.25rem;
  font-size: 0.875rem;
  cursor: default;
}

.hover:hover {
  color: rgb(17, 135, 158);
}

.logout-button:hover {
  color: rgb(17, 135, 158);
}
