.fas.fa-user-circle {
	width: 48;
	height: 48;
	border-radius: 48/2;
}

.profile-dropdown {
	display: flex;
	flex-direction: column;
}

#initialIcon {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	background: rgb(196, 185, 156);
}

#initial {
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 30px;
	line-height: 48px;
}
